 <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
    <div class="flex min-w-full gap-x-4">
      <img class="size-12 flex-none rounded-full bg-gray-50" src="https://robohash.org/<%=post.user.username%>.png" alt="">
      <div class="min-w-0 flex-auto">
        <div class="flex justify-between">
          <p class="text-sm/6 text-gray-900 sm:flex block justify-between gap-x-3">
            <span class="text-gray-800"><%= post.user.full_name %></span>   
            <span class="font-normal text-gray-500">@<%= post.user.username %></span> 
          </p>
          <p class="font-normal text-sm text-gray-500 min-w-[50px]">
            <%= post.abbreviated_time_ago_in_words %> ago
          </p>
        </div>
        <p class="mt-1 flex text-xs/5 text-gray-500">
          <%= post.content %>
        </p>
        <div class="flex justify-end">
           <%= render 'likes/like', post: post, like: Like.find_by(post: post, user: post.user) %>
        </div>
      </div>
    </div>
  </li>