<% content_for :title, "Posts" %>
<%= render 'form', post: Post.new %>
<%= turbo_stream_from "posts_feed" %>

<p>Hello, <%= current_user.email %></p>

<ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
  <%= turbo_frame_tag current_user, :posts do %>
    <%= render @posts %>
  <% end %>
</ul>
